<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cbcds.app.unitable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FoggyForest"
        tools:ignore="GoogleAppIndexingWarning">
        <service android:name="WidgetService"
        android:permission="android.permission.BIND_REMOTEVIEWS" />
        <receiver android:name=".AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".classestime.TimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".classes.ClassesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".editmarks.EditMarksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".marks.MarksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>